<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Info</title>
    <link rel="stylesheet" href="/css/single-product.css">
</head>

<body>
  <button type="button" name="back-to-home">Back To Home</button>
    <button type="button" name="view-cart-btn">View Cart ({{numberOfItems}})</button>
    <button type="button" name="logout-btn" id="logoutBtn">Logout</button>

    <div class="main-div">

        <p class="addedToCart-msg">Successfully Added To The Cart</p>

        <h1>{{productName}}</h1>

        <img src="{{imgSrc}}" data-productid="{{_id}}" class="image"><!--click on img takes to single product page -->

        <p class="description">{{description}}</p>

        <svg class="like-icon" data-productid="{{_id}}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 22h-5v-12h5v12zm17.615-8.412c-.857-.115-.578-.734.031-.922.521-.16 1.354-.5 1.354-1.51 0-.672-.5-1.562-2.271-1.49-1.228.05-3.666-.198-4.979-.885.906-3.656.688-8.781-1.688-8.781-1.594 0-1.896 1.807-2.375 3.469-1.221 4.242-3.312 6.017-5.687 6.885v10.878c4.382.701 6.345 2.768 10.505 2.768 3.198 0 4.852-1.735 4.852-2.666 0-.335-.272-.573-.96-.626-.811-.062-.734-.812.031-.953 1.268-.234 1.826-.914 1.826-1.543 0-.529-.396-1.022-1.098-1.181-.837-.189-.664-.757.031-.812 1.133-.09 1.688-.764 1.688-1.41 0-.565-.424-1.109-1.26-1.221z"/></svg>

        <span>{{likes}}</span> &nbsp;

        &nbsp;<svg class="heart-icon" data-productid="{{_id}}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg>

        <span>{{hearts}}</span>

        <h2>${{price}}</h2>

        <button type="button" name="add-to-cart-btn" value="{{_id}}">Add To Cart</button>

        <input type="text" name="qty" placeholder="Qty">

    </div>

    <script type="text/javascript" src="/js/axios.min.js"></script>

    <script type="text/javascript" src="/js/home.js"></script>

    <script type="text/javascript">
      const backToHomeBtn = document.querySelector('button[name="back-to-home"]');

      backToHomeBtn.addEventListener("click",function(){
        window.location="/home";
    });
    </script>

</body>

</html>
